.container{
  display: flex;
  gap: 70px;
  align-items: center;
}
.imageWrapper{
  position: relative;
  width: 60%;
  aspect-ratio: 1/1 /* or use vh, %, etc. */
}

.item{
  gap: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}


.title{
  font-size: 72px;
  background: linear-gradient(to bottom ,#194c33, #bbb );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 24px;
  font-weight: 300;
}